@import "tailwindcss";


:root {
  --bg-deep: #050505;
  --font-code: 'Courier New', Courier, monospace;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-deep);
  color: #d4d4d4;
  font-family: var(--font-code);
  padding-top: 80px;
  overflow-x: hidden;
}

.bg-noise {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
  opacity: 0.1;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='2' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

.glow-blob {
  position: fixed;
  border-radius: 50%;
  filter: blur(100px);
  z-index: -2;
  animation: pulse 10s ease-in-out infinite alternate;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

main {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px 20px 100px 20px;
}


/* =========================================
    Navbar theme
========================================= */
@theme {
  --color-ide-bg: #1e1e1e;
  --color-ide-border: #000000;
  --color-ide-keyword: #569cd6;
  --color-ide-var: #4ec9b0;
  --color-ide-string: #ce9178;
  --color-ide-fg: #d4d4d4;
  --color-ide-comment: #6a9955;

  /* cursor animation */
  --animate-soft-blink: soft-blink 1.2s ease-in-out infinite;

  @keyframes soft-blink {

    0%,
    100% {
      opacity: 1;
    }

    50% {
      opacity: 0.1;
    }
  }
}

/* =========================================
    SeriesCard var
========================================= */
:root {
  --card-bg: rgba(20, 20, 20, 0.6);
  --border: #333;
  --cmt-green: #6a9955;
  --func-yellow: #dcdcaa;
  --neon-green: #10b981;
  --neon-blue: #3b82f6;
}

/* =========================================
    SeriesCard (Translucent Code Block)
========================================= */
.code-block {
  display: flex;
  background-color: var(--card-bg);
  backdrop-filter: blur(5px);

  border: 1px solid var(--border);
  margin-bottom: 25px;
  text-decoration: none;
  color: inherit;
  transition: all 0.2s;
}

.code-block:hover {
  border-color: var(--neon-green);
  background-color: rgba(30, 30, 30, 0.9);
  transform: translate(-2px, -2px);
  box-shadow: 4px 4px 0px var(--neon-green);
}

.line-numbers {
  width: 45px;
  background-color: rgba(0, 0, 0, 0.3);
  border-right: 1px solid var(--border);
  color: #444;
  text-align: right;
  padding: 15px 10px;
  font-size: 0.8rem;
  user-select: none;
}

.code-content {
  flex: 1;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.doc-comment {
  color: var(--cmt-green);
  font-size: 1rem;
  margin-bottom: 8px;
  line-height: 1.4;
}

.method-sig {
  font-size: 1.5rem;
}

.preview-window {
  width: 200px;
  border-left: 1px solid var(--border);
  position: relative;
  overflow: hidden;
  background: #000;
}

.preview-window img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%) contrast(1.2);
  opacity: 0.6;
  transition: all 0.3s;
}

.code-block:hover .preview-window img {
  filter: grayscale(0%);
  opacity: 1;
  scale: 1.05;
}

@media (max-width: 700px) {
  .code-block {
    flex-direction: column;
  }

  .preview-window {
    width: 100%;
    height: 150px;
    border-left: none;
    border-top: 1px solid var(--border);
  }

  .line-numbers {
    display: none;
  }
}



/* =========================================
    Scrollbar
========================================= */
@theme {
  --color-scrollbar-thumb: #424242;
  --color-scrollbar-thumb-hover: #4f4f4f;
}

@layer base {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    background: var(--color-ide-bg);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-scrollbar-thumb);
    border-radius: 0px;
    border: 2px solid var(--color-ide-bg);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-scrollbar-thumb-hover);
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: var(--color-scrollbar-thumb) var(--color-ide-bg);
  }
}