@import "tailwindcss";

@theme {
  --color-ide-bg: #1e1e1e;
  --color-ide-border: #000000;
  --color-ide-keyword: #569cd6;
  --color-ide-var: #4ec9b0;
  --color-ide-string: #ce9178;
  --color-ide-fg: #d4d4d4;
  --color-ide-comment: #6a9955;

  --font-mono: var(--font-mono); 
}